<%- include('./partials/navbar', {title: title}) %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Logs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/logs.css">
</head>
<body>
    <div class='canvas-log'>
        <div class="canvas-g">
            <div class="tab-bar">
                <div class="close-btn r"></div>
                <div class="close-btn y"></div>
                <div class="close-btn g"></div>
            </div>
            <div class="container-log"> <br>
                <div class="logs">
                    <% for(let i = 0; i < logData.length; i++) { %>
                        <p> <%= logData[i] %></p>
                    <% } %><br>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>

